@{
    ViewData["Title"] = "Senha Redefinida";
}

<style>
    body {
        background: linear-gradient(to right, #808080, #A9A9A9);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .card {
        width: 100%;
        max-width: 400px;
        padding: 30px;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .btn {
        width: 100%;
        text-align: center;
    }
</style>

@*Aqui eu coloquei a mesagem que mostra quando acontece a redefinição de senha*@
<div class="card text-center">
    <h1>@ViewData["Title"]</h1>
    <p>A redefinição da sua senha foi realizada com sucesso.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-outline-success">Clique para fazer o login</a>
</div>
