@{
    ViewData["Title"] = "::LOJA ROUPA";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
</head>

<style>
    body {
        overflow: hidden;
    }

    #container {
        margin-top: 7%;
    }

    aside.sidebar .single {
        padding: 30px 15px;
        margin-top: 40px;
        background: #fcfcfc;
        border: 1px solid #f0f0f0;
    }

        aside.sidebar .single h3.side-title {
            margin: 0;
            margin-bottom: 10px;
            padding: 0;
            font-size: 20px;
            color: #333;
            text-transform: uppercase;
        }

            aside.sidebar .single h3.side-title:after {
                content: '';
                width: 60px;
                height: 1px;
                background: #00b0ff;
                display: block;
                margin-top: 6px;
            }

    .single.contact-info {
        background: none;
        border: none;
    }

        .single.contact-info li {
            margin-top: 30px;
        }

            .single.contact-info li .icon {
                display: block;
                float: left;
                margin-right: 10px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 1px solid #f0f0f0;
                color: #00b0ff;
                text-align: center;
                line-height: 50px;
            }

            .single.contact-info li .info {
                overflow: hidden;
            }

    .map-container {
        margin-top: 40px;
    }

    .row {
        display: flex;
        justify-content: space-between;
    }

    .col-md-6 {
        flex: 1;
        margin: 0 10px;
    }
</style>

<div>
    <partial name="_LayoutSuperior" />
</div>

<div id="container" class="container">
    <div class="row">
        <div class="col-md-6">
            <aside class="sidebar">
                <div class="single contact-info">
                    <h3 class="side-title">Contact Information</h3>
                    <ul class="list-unstyled">
                        <li>
                            <div class="icon"><i class="fa fa-map-marker"></i></div>
                            <div class="info"><p>Alfredo Paulete, 870 <br>Agudos, SP</p></div>
                        </li>

                        <li>
                            <div class="icon"><i class="fa fa-phone"></i></div>
                            <div class="info"><p>(14) 99177-6580 <br /> (14) 99855-5137</p></div>
                        </li>

                        <li>
                            <div class="icon"><i class="fa fa-envelope"></i></div>
                            <div class="info"><p>euclidesmarques270@gmail.com <br /> marqueseuclides44@gmail.com</p></div>
                        </li>

                    </ul>
                </div>
            </aside>
        </div>

        <div class="col-md-6 map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58987.53402043949!2d-49.012362625748366!3d-22.477121067055855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c0a13807ab363d%3A0x6f9dd2f496a6acef!2sAv.%20Alfredo%20Paulete%2C%20870%20-%20Jardim%20Vienense%2C%20Agudos%20-%20SP%2C%2017120-000!5e0!3m2!1sen!2sbr!4v1738277401962!5m2!1sen!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
