@{
    ViewData["Title"] = "::LOJA ROUPA";
}

<div>
    <partial name="_LayoutSuperior" />
</div>

@*Aqui eu vejo a view onde trás o resumo dos contratos do cliente(Valor total de contratos e Maior atraso em dias)*@
<div class="container mt-5">
    <h3>Resumo de Contratos do Cliente</h3>
    <p><strong>Cliente:</strong> @ViewBag.Cliente</p>
    <p><strong>Total em Contratos:</strong> R$ @ViewBag.Total</p>
    <p><strong>Maior Atraso:</strong> @ViewBag.MaiorAtraso dias</p>
</div>
