@model LojaRoupas.Models.Marca

@{
    ViewData["Title"] = "::LOJA ROUPA";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
</head>

<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 500px;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

    .form-check {
        margin-bottom: 1.5rem;
    }

    .btn-group {
        width: 100%;
    }

        .btn-group .btn {
            flex: 1;
        }
</style>

<h1 class="text-center mb-4">EDITAR MARCA</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <form asp-action="Editar">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        <label asp-for="Nome" class="control-label">Nome</label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DataDeCadastro" class="control-label">Data de Cadastro</label>
                        <input asp-for="DataDeCadastro" class="form-control" type="date" />
                        <span asp-validation-for="DataDeCadastro" class="text-danger"></span>
                    </div>

                    <div class="form-group form-check">
                        <label class="form-check-label" for="Ativo">Ativo</label>
                        <input asp-for="Ativo" class="form-check-input" type="checkbox" />
                        <span asp-validation-for="Ativo" class="text-danger"></span>
                    </div>

                    <div class="form-group mt-3 btn-group d-flex">
                        <input type="submit" value="Salvar" class="btn btn-warning" />
                        <a asp-action="Index" class="btn btn-secondary">Retornar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
